# 3rd Homework - Segmentation of e-shop customers (deadline November 29th 23:59)

An essential application of clustering is **customer segmentation**. 

Given transactional data of the form:

>TransactionID, CustomerID, Date (of the purchase), Subtotal (the price of the purchase)

we want to find segments of customers with similar behaviour. For this, we need to aggregate the transactions and have **one row as one customer**.

A popular framework to do that is **RFM**, which means:

- **R**ecency: Day since last purchase (last date in the data set - last purchase date set of a given customer)
- **F**requency: Number of purchases. Customers with only one purchase are sometimes excluded; let's leave them in the dataset for simplicity.
- **M**onetary: Total amount spent by the customer.

## Data source

Data about purchases of an (almost) fake e-shop are in the file `eshop.csv`.

## Instructions

Take the date of the last transaction (19. 12. 2015) as the actual date of the analysis - to simulate that the data is current.

**Basic points of the assignment (8 points)**:
  * Create an `rfm` data frame that has as many rows as customers, where each row is a customer, and the other columns are calculated as described above.
  * Use `k-means` for clustering. Find the optimal number of clusters (explain why you have chosen it).
  * Work with scaling and standardization of the data. Is it needed? Do it if yes.
  * Give an interpretation for the clusters. Can the clusters help you identify some superstar customers (high monetary, high frequency, low recency) from lousy ones (high recency, low frequency, low monetary)? Identify them.

**Further points of assignment**, for possible more points (you can choose, maximum for the homework is 12):
  * (up to 4 points) Use the method Silhouette to analyze the found clusters (https://en.wikipedia.org/wiki/Silhouette_(clustering)).
  * (up to 4 points) Do the clustering with a modified version of **RFM** where
    * Recency: a maximum of the number of months since the last purchase and number 1.
    * Frequency: a maximum of the number of purchases during last 12 months and number 1.
    * Monetary: the highest price of a single purchase of the given customer.
    
    Compare results with the original approach.

## Submission notes

  * Follow instructions at https://courses.fit.cvut.cz/BIE-VZD/homeworks/index.html
  * Submit Jupyter Notebook.
  * Reviewer may allow you to finish or correct your homework to achieve additional points. However, the first version is crucial.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [18]:
df = pd.read_csv('eshop.csv', sep=',')
# Convert Date from object to datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [20]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22408 entries, 0 to 22407
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  22408 non-null  int64
 1   Date         22408 non-null  datetime64[ns]
 2   Subtotal     22408 non-null  float64
 3   Country      22405 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 700.4+ KB

       Customer ID       Date  Subtotal         Country
0               34 2007-06-21     86.00  Czech Republic
1               38 2007-06-27     38.40  Czech Republic
2               47 2007-07-02     53.50        Slovakia
3               61 2007-07-14      7.00  Czech Republic
4               78 2007-07-21     55.50  Czech Republic
...            ...        ...       ...             ...
22403        15356 2015-12-18     31.87  Czech Republic
22404        15357 2015-12-18      6.10  Czech Republic
22405        15358 2015-12-18    153.23  Czech Republic
22406        15359 2015-12-19     19.15  Czech Republic
22407        15360 2015-12-19    139.10  Czech Republic

[22408 rows x 4 columns]